# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
*.log
media/
staticfiles/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.env.*
.venv

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Pylint
pylint.log
